name: Build Rules

on:
  schedule:
    - cron: "58 * * * *"
  workflow_dispatch:

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - name: Check out repo
        uses: actions/checkout@v4

      - name: Set up Python
        uses: actions/setup-python@v5
        with:
          python-version: "3.11"

      - name: Install mihomo
        run: |
          set -e

          API_URL="https://api.github.com/repos/MetaCubeX/mihomo/releases/latest"

          ASSET_URL=$(curl -fsSL "$API_URL" \
          | grep browser_download_url \
          | grep linux-amd64 \
          | grep -v sha256 \
          | head -n 1 \
          | cut -d '"' -f 4)

          curl -fL "$ASSET_URL" -o /tmp/mihomo.gz
          gunzip /tmp/mihomo.gz
          mv /tmp/mihomo /usr/local/bin/mihomo
          chmod +x /usr/local/bin/mihomo

          # ✅ 只验证 CLI，不启动核心
          mihomo convert-ruleset --help >/dev/null



      - name: Run rules script
        run: |
          python .github/scripts/rules.py

      - name: Convert generated rules to MRS
        run: |
          mkdir -p mrs
          mihomo convert-ruleset domain text out/domain_rules.txt mrs/domain_rules.mrs
          mihomo convert-ruleset ipcidr text out/ipcidr_rules.txt mrs/ipcidr_rules.mrs

      - name: Commit output
        uses: stefanzweifel/git-auto-commit-action@v5
        with:
          commit_message: "Update mrs rules"
          file_pattern: |
            mrs/*
