name: Build Rules

on:
  schedule:
    - cron: "58 * * * *"
  workflow_dispatch:

permissions:
  contents: write

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v4
        with:
          persist-credentials: true

      - uses: actions/setup-python@v5
        with:
          python-version: "3.11"

      - name: Install deps
        run: pip install requests pyyaml

      - name: Generate rules
        run: python .github/scripts/rules.py

      - name: Install mihomo
        run: |
          set -e

          API_URL="https://api.github.com/repos/MetaCubeX/mihomo/releases/latest"

          ASSET_URL=$(curl -fsSL "$API_URL" \
          | grep browser_download_url \
          | grep linux-amd64 \
          | grep -v sha256 \
          | head -n 1 \
          | cut -d '"' -f 4)

          curl -fL "$ASSET_URL" -o /tmp/mihomo.gz
          gunzip /tmp/mihomo.gz
          mv /tmp/mihomo /usr/local/bin/mihomo
          chmod +x /usr/local/bin/mihomo


          # ✅ 用最小规则测试 convert-ruleset（不会启动核心）
          echo "example.com" > /tmp/test.txt
          mihomo convert-ruleset domain text /tmp/test.txt /tmp/test.mrs

      - name: Convert all rules (safe)
        run: |
          set -e

          convert() {
            type="$1"
            src="$2"
            dst="$3"

            if grep -q '[^[:space:]]' "$src"; then
              mihomo convert-ruleset "$type" text "$src" "$dst"
            else
              echo "Skip empty $src"
            fi
          }

          for d in Rule/*; do
            [ -d "$d" ] || continue
            convert domain "$d/domains.list" "$d/domains.mrs" || true
            convert ipcidr "$d/ipcidr.list" "$d/ipcidr.mrs" || true
          done

          echo "=== Convert Rule/Other flat rules ==="
          for f in Rule/Other/*-domains.list; do
          [ -f "$f" ] || continue
          convert domain "$f" "${f%.list}.mrs"
          done

          for f in Rule/Other/*-ipcidr.list; do
          [ -f "$f" ] || continue
          convert ipcidr "$f" "${f%.list}.mrs"
          done

      - name: Commit & Push
        run: |
          git config user.name github-actions
          git config user.email actions@github.com
          git add Rule
          git commit -m "Update rules" || exit 0
          git push
